<table align="left">
    <thead>
        <tr>
            <th><h1><center>Total Mes</center></h1></th>
            <th><h1><center>Importe</center></h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gastos</td>
            <td>{{ totalgasto }}</td>
        </tr>
        <tr>
            <td>Ingresos</td>
            <td>{{ totalventa }}</td>
        </tr>
        {% set diferencia = "#{totalventa - totalgasto}" %}
        <tr>
            <td>Diferencia Anual (Ingresos - Gastos)</td>
            <td>{{ diferencia }}</td>
        </tr>
    </tbody>
</table>
<!--<h1><center>Gastos</center></h1>-->
<table align="left">
    <thead>
        <tr>
            <th><h1><center>Fecha</center></h1></th>
            <th><h1><center>Gasto</center></h1></th>
            <th><h1><center>Cantidad</center></h1></th>
        </tr>
    </thead>
    <tbody>
    {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.FechaPagoGasto|date('d/m/y') }}</td>
            <td>{{ gasto.NombreGasto }}</td>
            <td>{{ gasto.CostoGasto }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h3>I.V.A gastos(19%): {{ ivagasto }}</h3>