{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Listado de Gastos{% endblock %}
{% block content %}
<h1>{{ block('title') }}</h1>
<table class="records_list estrecha">
    <thead>
        <tr>
            <th>Nombre del Gasto</th>
            <th>Costo del Gasto</th>
            <th>Fecha de Emision del Gasto</th>
            <th>Fecha de pago del Gasto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.NombreGasto }}</td>
            <td>{{ gasto.CostoGasto }}</td>
            <td>{% if gasto.FechaEmisionGasto %}
                {{ gasto.FechaEmisionGasto |date("m/d/Y")  }}
                {% endif %}
            </td>
            <td>
                {% if gasto.FechaPagoGasto %}
                    {{ gasto.FechaPagoGasto|date("m/d/Y")  }}
                {% endif %}
            </td>
            <td>
                <ul>
                    <li>
                        <a class="symfony-button-green" href="{{ path('edit_gasto', { 'id': gasto.IdGasto }) }}">Modificar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a class="symfony-button-green" href="{{ path('new_gasto') }}">
            Añadir un nuevo Gasto
        </a>
    </li>
</ul>

{% endblock %}