{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Listado de Gastos{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<table align="center">
    <thead>
        <tr>
            <th>Gasto</th>
            <th>Costo</th>
            <th>F. Emisión</th>
            <th>F. Pago</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.NombreGasto }}</td>
            <td>{{ gasto.CostoGasto }}</td>
            <td>{% if gasto.FechaEmisionGasto %}
                {{ gasto.FechaEmisionGasto |date("d/m/Y")  }}
                {% endif %}
            </td>
            <td>
                {% if gasto.FechaPagoGasto %}
                    {{ gasto.FechaPagoGasto|date("d/m/Y")  }}
                {% endif %}
            </td>
            <td>
                    <a class="symfony-button-green" href="{{ path('edit_gasto', { 'id': gasto.IdGasto }) }}">Modificar</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<p align="center">
        <a class="symfony-button-green" href="{{ path('index_cuenta') }}">
            Ir al Listado de Cuentas
        </a>
        <a class="symfony-button-green" href="{{ path('new_gasto') }}">
            Agregar Nuevo
        </a>
</p>
{% endblock %}