{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Listado de Gastos{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
{% if gastos|length == 0 %}
<h3><center>No Existen gastos asociados a la cuenta</center></h3>
{% else %}
<table align="center">
    <thead>
        <tr>
            <th><h1><center>Gasto</h1></center></th>
            <th><h1><center>Costo</h1></center></th>
            <th><h1><center>F. Emisión</h1></center></th>
            <th><h1><center>F. Pago</h1></center></th>
            <th colspan="2"><h1><center>Acciones</h1></center></th>
        </tr>
    </thead>
    <tbody>
    {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.NombreGasto }}</td>
            <td>${{ gasto.CostoGasto | number_format(0,',','.')}}</td>
            <td>{% if gasto.FechaEmisionGasto %}
                {{ gasto.FechaEmisionGasto |date("d/m/Y")  }}
                {% endif %}
            </td>
            <td>
                {% if gasto.FechaPagoGasto %}
                    {{ gasto.FechaPagoGasto|date("d/m/Y")  }}
                {% endif %}
            </td>
            <td>
                    <a class="symfony-button-green" href="{{ path('show_gasto', { 'id': gasto.IdGasto }) }}">Detalle Gasto</a>
            </td>
            <td>
                    <a class="symfony-button-green" href="{{ path('edit_gasto', { 'id': gasto.IdGasto }) }}">Modificar Gasto</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<br />
<p align="center">
        <a class="symfony-button-green" href="{{ path('new_gasto') }}">
            Agregar Nuevo
        </a>
</p>
{% endblock %}