{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}<center>Añadir un Nuevo Gasto</center>{% endblock %}
{% block content %}
<h1>{{ block('title') }}</h1>
<form action="{{ path('create_gasto') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="symfony-button-green" type="submit">Añadir Gasto</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a class="symfony-button-green" href="{{ path('index_gasto') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}