{% extends 'CostoSystemBundle::layout.html.twig' %}

{% block content %}
{% block title %}Añadir un Nuevo Gasto{% endblock %}

<h1>{{ block('title') }}</h1>

<form action="{{ path('create_gasto') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="boton" type="submit">Añadir Gasto</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('index_gasto') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}