{% extends 'CostoSystemBundle::layout.html.twig' %}

{% block content %}
{% block title %}Datos del Gasto {{ gasto.NombreGasto }}{% endblock %}

<h1>{{ block('title') }}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Codigo</th>
            <td>{{ gasto.IdGasto }}</td>
        </tr>
        <tr>
            <th>Nombre del Gasto</th>
            <td>{{ gasto.NombreGasto }}</td>
        </tr>
        <tr>
            <th>Costo</th>
            <td>{{ gasto.CostoGasto }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('index_gasto') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('edit_gasto', { 'id': gasto.IdGasto }) }}">
            Modificar Gasto
        </a>
    </li>
    <li>
        <form action="{{ path('delete_gasto', { 'id': gasto.IdGasto }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar Gasto</button>
        </form>
    </li>
</ul>
{% endblock %}