{% extends 'CostoSystemBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Área de Gestión de Cuentas, Bienvenido</h1>

     <div class="symfony-blocks-welcome">
        <div class="block-quick-tour">
            <div class="illustration">
                <img src="{{ asset('bundles/acmedemo/images/welcome-quick-tour.gif') }}" alt="Quick tour" />
            </div>
            <a class="symfony-button-green" href="{{ path('_create') }}">Nueva Cuenta de Gastos</a>
        </div>
        {% if app.environment == 'dev' %}
            <div class="block-configure">
                <div class="illustration">
                    <img src="{{ asset('bundles/acmedemo/images/welcome-configure.gif') }}" alt="Configure your application" />
                </div>
                <a class="symfony-button-green" href="{{ path('_list') }}">Listar Cuentas de Gastos</a>
            </div>
        {% endif %}
        <div class="block-demo">
            <div class="illustration">
                <img src="{{ asset('bundles/acmedemo/images/welcome-demo.gif') }}" alt="Demo" />
            </div>
            <a class="symfony-button-green" href="{{ path('_demo') }}">Gestionar Cuentas de Gastos</a>
        </div>
    </div>
{% endblock %}
