{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Listado de Cuentas{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center> </h1>
<table align="center">
    <thead>
        <tr>
            <th><h1><center>Cuentas</center></h1></th>
            <th><h1><center>Valor</center></h1></th>
            <th><h1><center>Tipo</center></h1></th>
            <th colspan="2"><h1><center>Acciones</center></h1></th>
        </tr>
    </thead>
    <tfoot>
    	<tr>
        	<td colspan="5" align="center"><em>Existen {{ cuentas | length }} Cuentas</em></td>
        </tr>
    </tfoot>
    {% for cuenta in cuentas %}
        {% if loop.index % 2  ==  0 %}
            <tr class="par">
        {% else %}
            <tr>
        {% endif %}
            <td >{{ cuenta.nombreCuenta }}</td>
            <td>${{ cuenta.ValorCuenta | number_format(0,',','.')}}</td>
            <td>{{ cuenta.TipoCuenta }}</td>
            <td>
               <a class="symfony-button-green" href="{{ path('show_cuenta', { 'id': cuenta.IdCuenta }) }}">Detalle Cuenta</a>
            </td>
            <td>
               <a class="symfony-button-green" href="{{ path('cuenta_gastos', { 'id': cuenta.IdCuenta }) }}">Gestión Gastos</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<p align="center">
        <a class="symfony-button-green" href="{{ path('new_cuenta') }}">
            Agregar Nueva
        </a>
</p>
{% endblock %}