{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Listado de Cuentas{% endblock %}

{% block content %}

<h1>{{ block('title') }}</h1>

<table class="records_list estrecha">
    <thead>
        <tr>
            <th scope="col" class="rounded-company">Nombre de la Cuenta</th>
            <th scope="col" class="rounded-q1">Valor de la Cuenta</th>
            <th scope="col" class="rounded-q2">Tipo de la Cuenta</th>
            <th scope="col" class="rounded-q4">Acciones</th>
        </tr>
    </thead>
    <tfoot>
    	<tr>
        	<td colspan="4" class="rounded-foot-left" align="center"><em>Existen {{ cuentas | length }} Cuentas</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>
    <tbody>

    {% for cuenta in cuentas %}
        <tr>
            <td>{{ cuenta.nombreCuenta }}</td>
            <td>{{ cuenta.ValorCuenta }}</td>
            <td>{{ cuenta.TipoCuenta }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('edit_cuenta', { 'id': cuenta.IdCuenta }) }}">Modificar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<ul>
    <li>
        <a class="boton" href="{{ path('new_cuenta') }}">
            Añadir una nueva Cuenta
        </a>
    </li>
</ul>

{% endblock %}