{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Listado de Cuentas{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center> </h1>
<table align="center">
    <thead>
        <tr>
            <th style="width:40%"><center>Cuentas</center></th>
            <th style="width:15%"><center>Valor</center></th>
            <th style="width:15%"><center>Tipo</center></th>
            <th colspan="2"><center>Gestionar</center></th>
        </tr>
    </thead>
    <tfoot>
    	<tr>
        	<td colspan="5" align="center"><em>Existen {{ cuentas | length }} Cuentas</em></td>
        </tr>
    </tfoot>

    {% for cuenta in cuentas %}
    {% if loop.index % 2  ==  0 %}
        <tr class="par">
    {% else %}
        <tr>
    {% endif %}
            <td >{{ cuenta.nombreCuenta }}</td>
            <td>{{ cuenta.ValorCuenta }}</td>
            <td>{{ cuenta.TipoCuenta }}</td>
            <td>
               <a class="symfony-button-green" href="{{ path('show_cuenta', { 'id': cuenta.IdCuenta }) }}">Cuenta</a>
            </td>
            <td>
               <a class="symfony-button-green" href="{{ path('index_gasto', { 'id': cuenta.IdCuenta }) }}">Gastos</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<p align="center">
        <a class="symfony-button-green" href="{{ path('new_cuenta') }}">
            Crear Nueva
        </a>
</p>
{% endblock %}