{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Detalle de Cuenta{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<div style="float:left"><a class="symfony-button-green" href="{{ path('index_cuenta') }}">
            Ir al Listado de Cuentas
        </a></div>
<table align="center">
    <tbody>
        <tr>
            <th>Código</th>
            <td>{{ cuenta.IdCuenta }}</td>
        </tr>
        <tr>
            <th>Cuenta</th>
            <td>{{ cuenta.NombreCuenta }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>${{ cuenta.ValorCuenta | number_format(0,',','.') }}</td>
        </tr>
    </tbody>
</table>
<form action="{{ path('delete_cuenta', { 'id': cuenta.IdCuenta }) }}" method="post">
<h1><center>Acciones</center></h1>
    {{ form_widget(delete_form) }}
    <p align="center">
        
        <a class="symfony-button-green" href="{{ path('edit_cuenta', { 'id': cuenta.IdCuenta }) }}">
            Modificar Cuenta
        </a>
    <button class="symfony-button-green" type="submit">Borrar Cuenta</button>
    </p>
</form>
{% endblock %}