{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
<script type="text/javascript">
    $(document).ready(function() {
                    $('#deletion_cuenta').dialog({
                    autoOpen: false,
                    position: 'center',
                    modal: true,
                    width: 270,
                    height: "auto",
                    buttons: [
                            {
                                id: "button-delete-cuenta",
                                text: "Borrar",
                                click: function(){
                                        $("#delete_cuenta").submit();
                                        return true;
                                        }
                            },
                            {
                                id: "button-cancel-gasto",
                                text: "Cancelar",
                                click: function() {
                                    $(this).dialog("close");
                                }
                            }
                        ]
            });
            // Dialog Link
            $('#cuenta_deletion').click(function(){
                    $('#deletion_cuenta').dialog('open');
                    if ($('#contador_gastos').length > 0){
                        var butn = $('#button-delete-cuenta');
                        butn.button("disable");
                    }
            });
});
		</script>
                <ul id="menu">
                    {% block content_header_more %}
                        IR A:
                        <li><a class="symfony-button-green" href="{{ path('_homepage') }}">Principal</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_cuenta') }}">Cuentas</a></li>
                        <li><a class="symfony-button-green"  href="{{ path('index_gasto') }}">Gastos</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_venta') }}">Ventas</a></li>
                    {% endblock %}
                </ul>
                <div style="clear: both"></div>
{% endblock %}
{% block title %}Detalle de la Cuenta{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<div id="deletion_cuenta" title="Confirmar para borrar Cuenta">
{% include 'CostoSystemBundle:Cuenta:delete.html.twig' with {'cuenta': cuenta} %}
</div>
<table align="center">
    <tbody>
        <tr>
            <th>Código</th>
            <td>{{ cuenta.IdCuenta }}</td>
        </tr>
        <tr>
            <th>Cuenta</th>
            <td>{{ cuenta.NombreCuenta }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>${{ cuenta.ValorCuenta | number_format(0,',','.') }}</td>
        </tr>
    </tbody>
</table>
<br />
    <p align="center">
        <a class="symfony-button-green" href="{{ path('edit_cuenta', { 'id': cuenta.IdCuenta }) }}">Modificar Cuenta</a>
        <a id="cuenta_deletion" class="symfony-button-green"  href="#">Borrar</a>
    </p>
{% endblock %}