{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Datos de la Cuenta {{ cuenta.NombreCuenta }}{% endblock %}
{% block content %}
<h1>{{ block('title') }}</h1>
<table class="record_properties" class="ui-widget ui-widget-content">
    <tbody>
        <tr>
            <th class="ui-widget-header ">Codigo</th>
            <td>{{ cuenta.IdCuenta }}</td>
        </tr>
        <tr>
            <th class="ui-widget-header ">Nombre de la Cuenta</th>
            <td>{{ cuenta.NombreCuenta }}</td>
        </tr>
        <tr>
            <th class="ui-widget-header ">Total</th>
            <td>{{ cuenta.ValorCuenta }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a class="symfony-button-green" href="{{ path('index_cuenta') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a class="symfony-button-green" href="{{ path('edit_cuenta', { 'id': cuenta.IdCuenta }) }}">
            Modificar Cuenta
        </a>
    </li>
    <li>
        <form action="{{ path('delete_cuenta', { 'id': cuenta.IdCuenta }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="symfony-button-green" type="submit">Borrar Cuenta</button>
        </form>
    </li>
</ul>
{% endblock %}