{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
{% javascripts
            '@CostoSystemBundle/Resources/public/js/ui/i18n/*'
         %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
{% endjavascripts %}
<script type="text/javascript">
                     $(document).ready(function() {
                                $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
				// Datepicker
				$('#form_min_date').datepicker({
				});
                                // Datepicker
				$('#form_max_date').datepicker({
				});
                                if($('#errorfecha').length > 0){
                                  $('#form_min_date').focus(function(){
                                        $('#errorfecha').remove();
                                        $('#form_min_date').val("");
                                    });
                                }
                                if($('#form_max_date').val() != 0){
                                  $('#form_max_date').focus(function(){
                                        if($('#errorfecha').length > 0){
                                            $('#errorfecha').remove();
                                        }
                                            $('#form_max_date').val("");
                                    });
                                }
                                $('#form_min_date').focus(function(){
                                        $('#errorfecha').remove();
                                        $('#venta_fecha_venta').val("");
                                    });
			});
		</script>
                <ul id="menu">
                    {% block content_header_more %}
                        IR A:
                        <li><a class="symfony-button-green" href="{{ path('_homepage') }}">Principal</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_cuenta') }}">Cuentas</a></li>
                        <li><a class="symfony-button-green"  href="{{ path('index_gasto') }}">Gastos</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_venta') }}">Ventas</a></li>
                    {% endblock %}
                </ul>
                <div style="clear: both"></div>
{% endblock %}
{% block title %}Generador de Informes de Costos{% endblock %}
{% block content %}
<div>
<form action="{{ path('create_report') }}" method="post" {{ form_enctype(form) }}>
            <h1><center>Generar Informe</center></h1>
        <div class="symfony-form-row">
    {{ form_label(form.min_date, 'Desde el día: ') }} {{ form_widget(form.min_date) }}Hasta el día: {{ form_widget(form.max_date) }}
    {% if error is defined %}
<br />
<ul id="errorfecha" class="error_list">
    <p align="left">
                <li><h3>{{ error }}</h3></li>
    </p>
</ul>
    {% endif%}
         </div>
        {{ form_rest(form) }}
        <br />
        <p align="right">
        <button class="symfony-button-green" type="submit">Generar</button>
        </p>
</form>
</div>
{% endblock %}

