{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
{% javascripts
            '@CostoSystemBundle/Resources/public/js/ui/i18n/*'
         %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
{% endjavascripts %}
<script type="text/javascript">
 $(document).ready(function() {
                                $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
				// Datepicker
				$('#form_min_date').datepicker({
                               //     minDate: -30, maxDate: 0
				});
                                // Datepicker
				$('#form_max_date').datepicker({
                               //     minDate: -30, maxDate: 0
				});
                                
			});
		</script>
                <ul id="menu">
                    {% block content_header_more %}
                        IR A:
                        <li><a class="symfony-button-green" href="{{ path('_homepage') }}">Principal</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_cuenta') }}">Cuentas</a></li>
                        <li><a class="symfony-button-green"  href="{{ path('index_gasto') }}">Gastos</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_venta') }}">Ventas</a></li>
                    {% endblock %}
                </ul>
                <div style="clear: both"></div>
{% endblock %}
{% block title %}Generador de Informes de Costos{% endblock %}
{% block content %}
        <div>
        <form id="formcreateform" action="{{ path('create_report') }}" method="post" {{ form_enctype(form) }}>
                    <h1><center>Generar Informe</center></h1>
                <div class="symfony-form-row">
            {{ form_label(form.min_date, 'Desde el día: ') }} {{ form_widget(form.min_date) }}Hasta el día: {{ form_widget(form.max_date) }}
                 </div>
                {{ form_rest(form) }}
                <br />
                <p align="right">
                <button class="symfony-button-green" type="submit">Generar</button>
                </p>
        </form>
        </div>
    {% if gastos|length == 0 and  ventas|length == 0 %}
        <br />
        <br />
        <h1><center>Informe de Costos del: {{dates.min|date('d - m - Y')}} hasta {{dates.max|date('d - m - Y')}}</center></h1>
        <h3><center>No se encontraron resultados en las fechas seleccionadas</center></h3>
    {% else %}
        <div style="float:right;">
                        {# <a href="{{ path('print_report') }}"> #}
                        <a id="print_pdf" href="#">
                            <img src="{{ asset('bundles/costosystem/images/pdf.png') }}" alt="Imprimir Reporte" height="25" width="25" >
                        </a>
        </div>
        <div id="page-header">
	        <h1 id="titlereport"><center>Informe de Ingresos(Ventas) y Gastos del: {{dates.min|date('d - m - Y')}} hasta {{dates.max|date('d - m - Y')}}</center></h1>
	</div>
<br />
<br />
	<div id="page-content">
<center><h3><b>Resumen de Totales General y por Fechas seleccionadas</b></h3></center>
<div style="clear: both"></div>
		<div id="ingresos">
                {% include 'CostoSystemBundle:Venta:ventarep.html.twig' with { 'ventas' : ventas, 'giva': giva, 'viva': viva, 'vyformal' : vyformal, 'vyinformal' : vyinformal, 'gyformal' : gyformal, 'gyinformal' : gyinformal } %}
                </div>
                <div id="gastos">
                {% include 'CostoSystemBundle:Gasto:gastorep.html.twig' with { 'gastos' : gastos, 'gmiva': gmiva, 'vmiva': vmiva, 'vmformal' : vmformal, 'vminformal' : vminformal, 'gmformal' : gmformal, 'gminformal' : gminformal } %}
                </div>
	</div>
<div style="clear: both"></div>
        <center><h3><b>Detalles de Ingresos (Ventas) y Gastos</b></h3></center>
<div style="clear: both"></div>
        <br />
        <br />
        <p align="left"><h3><b>Nota:</b></h3><br />

        <h3>Los cálculos se aplican a todas las tablas de igual manera.</h3>
        <h3><b>TOTAL</b> se obtiene sumando <b>FORMAL</b> con <b>INFORMAL</b></h3>
        <h3><b>FORMAL</b> es el <b><em>valor bruto</em></b> (NETO + IVA) </h3>
        <h3><b>I.V.A</b> muestra valor del IVA añadido en <b>FORMAL</b></h3><br />
        <h3><b>Leyenda:</b><br /></h3>
        <h3>(*) Diferencia entre Ingresos menos Gastos en la Tabla</h3>
        <h3>(**) Suma de valores de la columna en la tabla</h3></p>
        <div style="clear: both"></div>
    {% endif %}
{% endblock %}