{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}..:Gestión Costos:.{% endblock %}
{% block content_header '' %}
{% block content %}
    <h1><center>Gestion de Costos</center></h1>
        <div class="symfony-blocks-welcome">
            <div class="block-configure">
                <div class="illustration">
                    <img src="{{ asset('bundles/acmedemo/images/welcome-configure.gif') }}" alt="Cuentas" />
                </div>
                <a class="symfony-button-green" href="{{ path('index_cuenta') }}">Gestión de Cuentas</a>
            </div>
        <div class="block-quick-tour">
            <div class="illustration">
                <img src="{{ asset('bundles/acmedemo/images/welcome-demo.gif') }}" alt="Gastos" />
            </div>
            <a class="symfony-button-green" href="{{ path('index_gasto') }}">Gestión de Gastos</a>
        </div>
        <div class="block-demo">
            <div class="illustration">
                <img src="{{ asset('bundles/acmedemo/images/welcome-quick-tour.gif') }}" alt="Gestión Ventas" />
            </div>
            <a class="symfony-button-green" href="{{ path('index_venta') }}">Gestión Ventas</a>
        </div>
    </div>
    <p align="center">
        <div class="block-quick-tour">
            <div class="illustration">
                <img src="{{ asset('bundles/acmedemo/images/welcome-demo.gif') }}" alt="Informes" />
            </div>
            <a class="symfony-button-green" href="{{ path('index_gasto') }}">Informes de Costos</a>
        </div></p>
{% endblock %}

