{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Gestión Costos para poncab.cl{% endblock %}
{% block content_header '' %}
{% block content %}
    <h1><center>Gestion de Costos</center></h1>
        <div class="symfony-blocks-welcome">
            <div class="block-configure">
                <div class="illustration">
                    <img src="{{ asset('bundles/costosystem/images/Card-file-icon.png') }}" alt="Gestión Cuentas" />
                </div>
                <a class="symfony-button-green" href="{{ path('index_cuenta') }}">Gestión de Cuentas</a>
            </div>
        <div class="block-quick-tour">
            <div class="illustration">
                <img src="{{ asset('bundles/costosystem/images/credit-card-icon.png') }}" alt="Gestión Gastos" />
            </div>
            <a class="symfony-button-green" href="{{ path('index_gasto') }}">Gestión de Gastos</a>
        </div>
        <div class="block-demo">
            <div class="illustration">
                <img src="{{ asset('bundles/costosystem/images/Cash-register-icon.png') }}" alt="Gestión Ventas" />
            </div>
            <a class="symfony-button-green" href="{{ path('index_venta') }}">Gestión Ventas</a>
        </div>
        <center><div id="block-quick-tour2">
            <div class="illustration">
                <img src="{{ asset('bundles/costosystem/images/Money-Calculator-icon.png') }}" alt="Informes" />
            </div>
            <a class="symfony-button-green" href="{{ path('index_report') }}">Informes de Costos</a>
        </div></center>
    </div>
{% endblock %}

