{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
{% javascripts
            '@CostoSystemBundle/Resources/public/js/jquery-1.7.2.min.js'
            '@CostoSystemBundle/Resources/public/js/jquery-ui-1.8.21.custom.min.js'
            '@CostoSystemBundle/Resources/public/js/createmod_details.js'
            '@CostoSystemBundle/Resources/public/js/ui/i18n/jquery.ui.datepicker-es.js'
         %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
{% endjavascripts %}
                <ul id="menu">
                    {% block content_header_more %}
                        IR A:
                        <li><a class="symfony-button-green" href="{{ path('_homepage') }}">Principal</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_cuenta') }}">Cuentas</a></li>
                        <li><a class="symfony-button-green"  href="{{ path('index_gasto') }}">Gastos</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_venta') }}">Ventas</a></li>
                    {% endblock %}
                </ul>
                <div style="clear: both"></div>
{% endblock %}
{% block title %}Agregar Desgloce de Ventas del día{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<form action="{{ path('create_venta') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget (form.id)}}
    <p>
    <center>
        <div class="symfony-form-row">
                <div class="symfony-form-field">
                {{ form_widget (form.fecha)}}
                {% if errors != null %}
                        {% block field_errors %}
                        {% spaceless %}
                            {% if errors|length > 0 %}
                            <ul class="error_list">
                                {% for error in errors %}
                                    <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endspaceless %}
                        {% endblock field_errors %}
                {% endif %}
            </div>
        </div>
    </center>
    </p>
    <div id="detalles">
        <div class="detalle" data-prototype="{{ form_widget(form.detalleVentas.vars.prototype.fecha_venta)|escape }}{{ form_widget(form.detalleVentas.vars.prototype.lugarVenta)|escape}}{{ form_widget(form.detalleVentas.vars.prototype.ventaForma)|escape }}{{ form_widget(form.detalleVentas.vars.prototype.total_venta)|escape }}{{ form_widget(form.detalleVentas.vars.prototype.total_neto_venta)|escape}}{{ form_widget(form.detalleVentas.vars.prototype.total_iva_venta)|escape }}{{ form_widget(form.detalleVentas.vars.prototype.formaPago)|escape }}{{ form_widget (form.detalleVentas.vars.prototype.descripcion_venta)|escape}}{{ form_widget (form.detalleVentas.vars.prototype.id_detalle)|escape}}">
           {% for detail in form.detalleVentas %}
                <div id="new_detalle_{{loop.index0}}" class="new_detalle">
                    <a class="remove" href="#" dbid="{{ detail.vars.value.IdDetalle}}">X</a>
                    {{ form_widget(detail.fecha_venta) }}
                    {{ form_widget(detail.lugarVenta) }}
                    {{ form_widget(detail.ventaForma) }}
                    {{ form_widget(detail.total_venta) }}
                    {{ form_widget(detail.total_neto_venta) }}
                    {{ form_widget(detail.total_iva_venta) }}
                    {{ form_widget(detail.formaPago) }}
                    {{ form_widget(detail.descripcion_venta) }}
                    {{ form_widget(detail.id_detalle) }}
                </div>
                {% endfor %} 
                     
        </div>
   <div id="totales"> 
    <p>
    <div class="documentada">
        Total Documentada  :
        {{ form_widget (form.total_neto_documentada) }}
        {{ form_widget (form.total_iva_documentada) }}
        {{ form_widget (form.total_documentada) }}
    </div>
    <br />
    <div class="no_documentada">
        Total No Documentado
        {{ form_widget (form.total_neto_no_documentada) }}
        {{ form_widget (form.total_iva_no_documentada) }}
        {{ form_widget (form.total_no_documentada) }}
    </div>
    <br />
    <div class="total">
        Total (Doc. + No Doc.)
        {{ form_widget (form.total_neto) }}
        {{ form_widget (form.total_iva) }}
        {{ form_widget (form.total) }}
    </div>
    <br />
    <div class="real">
        Total Real (en Caja)
        {{ form_widget (form.total_neto_real) }}
        {{ form_widget (form.total_iva_real) }}
        {{ form_widget (form.total_real) }}
    </div>
    </p>
</div>
<br />
    <p align="right">
        <button class="symfony-button-green" type="submit">Modificar</button>
    </p>
    
</form>
<div id="deletion_venta" title="Confirmar para borrar Venta">
{% include 'CostoSystemBundle:Venta:delete2.html.twig' with {'delete_form': delete_form } %}
</div>
{% endblock %}