{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
{% javascripts
            '@CostoSystemBundle/Resources/public/js/ui/i18n/*'
         %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {

			$(function(){
                                $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
				// Datepicker
				$('#venta_fecha_venta').datepicker({
                                        altFormat: "dd/mm/yyyy"
				});
			});


                        $('#venta_formal_total_venta').focusout(function(){
                            var total = $(this).val();
                            var iva = $('#venta_total_iva_venta_formal');
                            if( iva.val() != 0){
                                $('#venta_total_iva_venta_formal').val(0);
                            }
                            var i = parseFloat(Number(total)/1.19)*.19;
                            $('#venta_total_iva_venta_formal').val(i.toFixed(0));
                            var venta = $('#venta_total_venta').val();
                            if(venta != 0){
                                var v = $('#venta_total_venta');
                                v.val(0);
                                var informal = $('#venta_informal_total_venta');
                                if (informal.val () != 0){
                                    $('#venta_total_venta').val(Number(informal.val())+Number(total));
                                }else if (informal.val () == 0){
                                    $('#venta_total_venta').val(Number(total));
                                }
                            }else if (venta == 0){
                                $('#venta_total_venta').val(Number(venta)+Number(total));
                            }
                        });

                        $('#venta_informal_total_venta').focusout(function(){
                            var venta = $('#venta_total_venta');
                            var formal = $('#venta_formal_total_venta');
                            if($(this).val() != 0 && formal.val() !=0)
                            {
                                $('#venta_total_venta').val(Number(formal.val())+Number($(this).val()));
                            }else if($(this).val() == 0 && formal.val() !=0)
                            {
                                $('#venta_total_venta').val(Number(formal.val()));
                            }else if($(this).val() != 0 && formal.val() ==0)
                            {
                                $('#venta_total_venta').val(Number($(this).val()));
                            }else {
                                $('#venta_total_venta').val(Number(formal.val())+Number($(this).val()));
                            }
                        });
                    $('#deletion_venta').dialog({
                    autoOpen: false,
                    position: 'center',
                    modal: true,
                    width: 270,
                    height: 240,
                    buttons: {
                                "Borrar": function(){
                                        $("form",$(this)).submit();
                                        return true;

                                },
                                "Cancelar": function(){
                                        $( this ).dialog( "close" );
                                }
                        }
                    });
                    // Dialog Link
                    $('#open_deletion').click(function(){
                            $('#deletion_venta').dialog('open');
                    });
                    $('#submit_edit_venta').click(function(){
                                    $('#edit_venta_form').submit();
                                    return true;
                            });
});
		</script>
                <ul id="menu">
                    {% block content_header_more %}
                        IR A:
                        <li><a class="symfony-button-green" href="{{ path('_homepage') }}">Principal</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_cuenta') }}">Cuentas</a></li>
                        <li><a class="symfony-button-green"  href="{{ path('index_gasto') }}">Gastos</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_venta') }}">Ventas</a></li>
                    {% endblock %}
                </ul>
                <div style="clear: both"></div>
{% endblock %}
{% block title %}Modificar Venta{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<div id="deletion_venta" title="Confirmar para borrar Venta">
{% include 'CostoSystemBundle:Venta:delete.html.twig' with {'venta': venta} %}
</div>
<form id="edit_venta_form" action="{{ path('update_venta', { 'id': venta.IdVenta }) }}" method="post" {{ form_enctype(edit_form) }}>
    <h1><center>Formulario para Modificar Venta</center></h1>
<p>
    <div class="symfony-form-row">
        {{ form_label (edit_form.fecha_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (edit_form.fecha_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (edit_form.fecha_venta) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (edit_form.total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (edit_form.total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (edit_form.total_venta) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (edit_form.formal_total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (edit_form.formal_total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (edit_form.formal_total_venta) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (edit_form.informal_total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (edit_form.informal_total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (edit_form.informal_total_venta) }}
                    </div>
            </div>
    </div>
    </p>
<p>
    <div class="symfony-form-row">
        {{ form_label (edit_form.total_iva_venta_formal) }}
            <div class="symfony-form-field">
                {{ form_widget (edit_form.total_iva_venta_formal) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (edit_form.total_iva_venta_formal) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (edit_form.detalle_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (edit_form.detalle_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (edit_form.detalle_venta) }}
                    </div>
            </div>
    </div>
    </p>
        {{form_rest(edit_form)}}
<br />
   <p align="right">
        <a id="open_deletion" class="symfony-button-green"  href="#">Borrar</a>
        <a id="submit_edit_venta" class="symfony-button-green"  href="#">Grabar</a>
        </p>
</form>
{% endblock %}
