{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Listado de Ventas{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<table align="center">
    <thead>
        <tr>
            <th>Fecha Venta</th>
            <th>Total Venta (F)</th>
            <th>Total Iva</th>
            <th colspan="2"><center>Acciones</center></th>
        </tr>
    </thead>
    <tbody>
    {% for venta in ventas %}
        <tr>
            <td>{% if venta.FechaVenta %}{{ venta.FechaVenta|date('Y-m-d') }}{% endif %}</td>
            <td>{{ venta.TotalVentaFormal }}</td>
            <td>{{ venta.TotalIvaVenta }}</td>
            <td>
                <ul>
                    <li>
                        <a class="symfony-button-green" href="{{ path('show_venta', { 'id': venta.IdVenta }) }}">Detalle</a>
                    </li>
                 
                </ul>
            </td>
            <td>
                <ul>
                       <li>
                        <a class="symfony-button-green" href="{{ path('edit_venta', { 'id': venta.IdVenta }) }}">Modificar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<p align="center">
        <a class="symfony-button-green" href="{{ path('new_venta') }}">
            Crear Nueva
        </a>
</p>
{% endblock %}
