{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
{% javascripts
            '@CostoSystemBundle/Resources/public/js/ui/i18n/*'
         %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {

			$(function(){
                                $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
				// Datepicker
				$('#venta_fecha_venta').datepicker({
                                        altFormat: "dd/mm/yyyy"
				});
			});


                        $('#venta_formal_total_venta').focusout(function(){
                            var total = $(this).val();
                            var iva = $('#venta_total_iva_venta_formal');
                            if( iva.val() != 0){
                                $('#venta_total_iva_venta_formal').val(0);
                            }
                            var i = parseFloat(Number(total)/1.19)*.19;
                            $('#venta_total_iva_venta_formal').val(i.toFixed(0));
                            var venta = $('#venta_total_venta').val();
                            if(venta != 0){
                                var v = $('#venta_total_venta');
                                v.val(0);
                                var informal = $('#venta_informal_total_venta');
                                if (informal.val () != 0){
                                    $('#venta_total_venta').val(Number(informal.val())+Number(total));
                                }else if (informal.val () == 0){
                                    $('#venta_total_venta').val(Number(total));
                                }
                            }else if (venta == 0){
                                $('#venta_total_venta').val(Number(venta)+Number(total));
                            }
                        });

                        $('#venta_informal_total_venta').focusout(function(){
                            var venta = $('#venta_total_venta');
                            var formal = $('#venta_formal_total_venta');
                            if($(this).val() != 0 && formal.val() !=0)
                            {
                                $('#venta_total_venta').val(Number(formal.val())+Number($(this).val()));
                            }else if($(this).val() == 0 && formal.val() !=0)
                            {
                                $('#venta_total_venta').val(Number(formal.val()));
                            }else if($(this).val() != 0 && formal.val() ==0)
                            {
                                $('#venta_total_venta').val(Number($(this).val()));
                            }else {
                                $('#venta_total_venta').val(Number(formal.val())+Number($(this).val()));
                            }
                        });
});
		</script>
{% endblock %}
{% block title %}Agregar Venta{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<div style="float:left">
        <a class="symfony-button-green" href="{{ path('index_venta') }}">
            Ir al Listado de Ventas
        </a>
</div>
<form action="{{ path('create_venta') }}" method="post" {{ form_enctype(form) }}>
<h1><center>Formulario para Agregar Venta</center></h1>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.fecha_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.fecha_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.fecha_venta) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.total_venta) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.formal_total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.formal_total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.formal_total_venta) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.informal_total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.informal_total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.informal_total_venta) }}
                    </div>
            </div>
    </div>
    </p>
<p>
    <div class="symfony-form-row">
        {{ form_label (form.total_iva_venta_formal) }}
            <div class="symfony-form-field">
                {{ form_widget (form.total_iva_venta_formal) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.total_iva_venta_formal) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.detalle_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.detalle_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.detalle_venta) }}
                    </div>
            </div>
    </div>
    </p>
        {{form_rest(form)}}
<br />
    <p align="right">
        <button class="symfony-button-green" type="submit">Grabar</button>
    </p>
</form>
{% endblock %}