{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
{% javascripts
            '@CostoSystemBundle/Resources/public/js/ui/i18n/*'
         %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
{% endjavascripts %}
<script type="text/javascript">
//Las funcionalidades se ejecutan una vez que el documento DOM isReady
    $(document).ready(function() {
//Jquery -ui datepicker setaeado a spain lang y formateado se le asocia al id venta_fecha_venta
			$(function(){
                                $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
				// Datepicker
				$('#venta_fecha_venta').datepicker({
                                        altFormat: "dd/mm/yyyy"
				});
			});
                        //Este bloque se ejecuta si aparece el mensaje de error de fecha utilizada
                        if ($('.error_list').length > 0){
                            var error = $('.error_list');
                            //all  dar el foco al elemento se borra el mensaje y se borra la fecha
                            $('#venta_fecha_venta').focus(function(){
                                error.remove();
                                $('#venta_fecha_venta').val("");
                            });
                        }
                        var Input = $('input[name*="total_venta"]');
                        Input.focus(function() {
                        var default_value = $(this).val();
                            if($(this).val() == 0) $(this).val("");
                        });



                        $('#venta_formal_total_venta').focusout(function(){
                            var total = $(this).val();
                            var iva = $('#venta_total_iva_venta_formal');
                            if( iva.val() != 0){
                                $('#venta_total_iva_venta_formal').val(0);
                            }
                            var i = parseFloat(Number(total)/1.19)*.19;
                            $('#venta_total_iva_venta_formal').val(i.toFixed(0));
                            var venta = $('#venta_total_venta').val();
                            if(venta != 0){
                                var v = $('#venta_total_venta');
                                v.val(0);
                                var informal = $('#venta_informal_total_venta');
                                if (informal.val () != 0){
                                    $('#venta_total_venta').val(Number(informal.val())+Number(total));
                                }else if (informal.val () == 0){
                                    $('#venta_total_venta').val(Number(total));
                                }
                            }else if (venta == 0){
                                $('#venta_total_venta').val(Number(venta)+Number(total));
                            }if(venta === "")
                                $('#venta_total_venta').val("");
                        });

                        $('#venta_informal_total_venta').focusout(function(){
                            var venta = $('#venta_total_venta');
                            var formal = $('#venta_formal_total_venta');
                            if($(this).val() != 0 && formal.val() !=0)
                            {
                                $('#venta_total_venta').val(Number(formal.val())+Number($(this).val()));
                            }else if($(this).val() == 0 && formal.val() !=0)
                            {
                                $('#venta_total_venta').val(Number(formal.val()));
                            }else if($(this).val() != 0 && formal.val() ==0)
                            {
                                $('#venta_total_venta').val(Number($(this).val()));
                            }else {
                                $('#venta_total_venta').val(Number(formal.val())+Number($(this).val()));
                            }
                        });
});
		</script>
                <ul id="menu">
                    {% block content_header_more %}
                        IR A:
                        <li><a class="symfony-button-green" href="{{ path('_homepage') }}">Principal</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_cuenta') }}">Cuentas</a></li>
                        <li><a class="symfony-button-green"  href="{{ path('index_gasto') }}">Gastos</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_venta') }}">Ventas</a></li>
                    {% endblock %}
                </ul>
                <div style="clear: both"></div>
{% endblock %}
{% block title %}Agregar Venta{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<form action="{{ path('create_venta') }}" method="post" {{ form_enctype(form) }}>
<h1><center>Formulario para Agregar Venta</center></h1>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.fecha_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.fecha_venta) }}
{% if errors != null %}
                    {% block field_errors %}
                    {% spaceless %}
                        {% if errors|length > 0 %}
                        <ul class="error_list">
                            {% for error in errors %}
                                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endspaceless %}
                    {% endblock field_errors %}
{% endif %}
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.total_venta) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.formal_total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.formal_total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.formal_total_venta) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.informal_total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.informal_total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.informal_total_venta) }}
                    </div>
            </div>
    </div>
    </p>
<p>
    <div class="symfony-form-row">
        {{ form_label (form.total_iva_venta_formal) }}
            <div class="symfony-form-field">
                {{ form_widget (form.total_iva_venta_formal) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.total_iva_venta_formal) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.detalle_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.detalle_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.detalle_venta) }}
                    </div>
            </div>
    </div>
    </p>
        {{form_rest(form)}}
<br />
    <p align="right">
        <button class="symfony-button-green" type="submit">Grabar</button>
    </p>
</form>
{% endblock %}