{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
{% javascripts
            '@CostoSystemBundle/Resources/public/js/ui/i18n/*'
         %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
{% endjavascripts %}
<script type="text/javascript">
//Las funcionalidades se ejecutan una vez que el documento DOM isReady
    $(document).ready(function() {
//Jquery -ui datepicker setaeado a spain lang y formateado se le asocia al id venta_fecha_venta
			$(function(){
                                $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
				// Datepicker
				$('#detalleventa_fecha_venta').datepicker({
                                        altFormat: "dd/mm/yyyy"
				});
			});
                        //Este bloque se ejecuta si aparece el mensaje de error de fecha utilizada
                        if ($('.error_list').length > 0){
                            var error = $('.error_list');
                            //all  dar el foco al elemento se borra el mensaje y se borra la fecha
                            $('#detalleventa_fecha_venta').focus(function(){
                                error.remove();
                                $('#detalleventa_fecha_venta').val("");
                            });
                        }
                        var Input = $('input[name*="total"]');
                        Input.focus(function() {
                            if($(this).val() == 0) $(this).val("");
                        });

                        $('#detalleventa_total_neto_venta').focusout(function(){
                            var neto = $(this).val();
                            var iva = $('#detalleventa_total_iva_venta');
                            if( iva.val() != 0){
                                $('#detalleventa_total_iva_venta').val(0);
                            }
                            var i = parseFloat(Number(neto))*.19;
                            $('#detalleventa_total_iva_venta').val(i.toFixed(0));
                            
                            var total = $('#detalleventa_total_venta').val();
                            if (total == 0){
                                $('#detalleventa_total_venta').val(Number(iva.val())+Number(neto));
                            }if(total === "")
                                $('#detalleventa_total_venta').val("");
                        });
});
		</script>
                <ul id="menu">
                    {% block content_header_more %}
                        IR A:
                        <li><a class="symfony-button-green" href="{{ path('_homepage') }}">Principal</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_cuenta') }}">Cuentas</a></li>
                        <li><a class="symfony-button-green"  href="{{ path('index_gasto') }}">Gastos</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_venta') }}">Ventas</a></li>
                    {% endblock %}
                </ul>
                <div style="clear: both"></div>
{% endblock %}
{% block title %}Agregar Venta{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<form action="{{ path('create_venta') }}" method="post" {{ form_enctype(form) }}>
<h1><center>Formulario para Agregar nueva Venta</center></h1>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.fecha_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.fecha_venta) }}
        {% if errors != null %}
                {% block field_errors %}
                {% spaceless %}
                    {% if errors|length > 0 %}
                    <ul class="error_list">
                        {% for error in errors %}
                            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endspaceless %}
                {% endblock field_errors %}
        {% endif %}
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.ventaForma) }}
            <div class="symfony-form-field">
                {{ form_widget (form.ventaForma) }}
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.lugarVenta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.lugarVenta) }}
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.formaPago) }}
            <div class="symfony-form-field">
                {{ form_widget (form.formaPago) }}
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.total_neto_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.total_neto_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.total_neto_venta) }}
                    </div>
            </div>
    </div>
    </p>
<p>
    <div class="symfony-form-row">
        {{ form_label (form.total_iva_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.total_iva_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.total_iva_venta) }}
                    </div>
            </div>
    </div>
    </p>
<p>
    <div class="symfony-form-row">
        {{ form_label (form.total_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.total_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.total_venta) }}
                    </div>
            </div>
    </div>
    </p>
    <p>
    <div class="symfony-form-row">
        {{ form_label (form.descripcion_venta) }}
            <div class="symfony-form-field">
                {{ form_widget (form.descripcion_venta) }}
                    <div class="symfony-form-errors">
                        {{ form_errors (form.descripcion_venta) }}
                    </div>
            </div>
    </div>
    </p>
        {{form_rest(form)}}
<br />
    <p align="right">
        <button class="symfony-button-green" type="submit">Grabar</button>
    </p>
</form>
{% endblock %}