{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Detalle Venta {% endblock %}

{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<table align="center">
    <tbody>
        <tr>
            <th>Código</th>
            <td>{{ venta.IdVenta }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ venta.FechaVenta|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>${{ venta.TotalVenta | number_format(0,',','.')}}</td>
        </tr>
        <tr>
            <th>Total Formal</th>
            <td>${{ venta.FormalTotalVenta | number_format(0,',','.')}}</td>
        </tr>
        <tr>
            <th>Total Informal</th>
            <td>${{ venta.InformalTotalVenta | number_format(0,',','.')}}</td>
        </tr>
        <tr>
            <th>Total I.V.A (f)</th>
            <td>${{ venta.TotalIvaVentaFormal | number_format(0,',','.')}}</td>
        </tr>
        <tr>
            <th>Detalle</th>
            <td>{{ venta.DetalleVenta }}</td>
        </tr>
    </tbody>
</table>

   
    </li>
    <li>
        <form action="{{ path('delete_venta', { 'id': venta.IdVenta }) }}" method="post">
        <h1><center>Acciones</center></h1>
            {{ form_widget(delete_form) }}
        <p align="center">
        <a class="symfony-button-green"  href="{{ path('index_venta') }}">
            Ir al Listado de Ventas
        </a>
        <a class="symfony-button-green"  href="{{ path('edit_venta', { 'id': venta.IdVenta }) }}">
            Modificar
        </a>
            <button class="symfony-button-green"  type="submit">Borrar</button>
        </p>
        </form>
    </li>
</ul>

{% endblock %}
