{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
<script type="text/javascript">
    $(document).ready(function() {
                    $('#deletion_venta').dialog({
                    autoOpen: false,
                    position: 'center',
                    modal: true,
                    width: 270,
                    height: 240,
                    buttons: {
                            "Borrar": function(){
                                    $("form",$(this)).submit();
                                    return true;

                            },
                            "Cancelar": function(){
                                    $( this ).dialog( "close" );
                            }
                    }
            });
            // Dialog Link
            $('#open_deletion').click(function(){
                    $('#deletion_venta').dialog('open');
            });
});
		</script>
                <ul id="menu">
                    {% block content_header_more %}
                        IR A:
                        <li><a class="symfony-button-green" href="{{ path('_homepage') }}">Principal</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_cuenta') }}">Cuentas</a></li>
                        <li><a class="symfony-button-green"  href="{{ path('index_gasto') }}">Gastos</a></li>
                        <li><a class="symfony-button-green" href="{{ path('index_venta') }}">Ventas</a></li>
                    {% endblock %}
                </ul>
                <div style="clear: both"></div>
{% endblock %}
{% block title %}Detalle de Venta {% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<div id="deletion_venta" title="Confirmar para borrar Venta">
{% include 'CostoSystemBundle:Venta:delete.html.twig' with {'venta': venta} %}
</div>
<table align="center">
    <tbody>
        <tr>
            <th>Código</th>
            <td>{{ venta.IdVenta }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ venta.FechaVenta|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>${{ venta.TotalVenta | number_format(0,',','.')}}</td>
        </tr>
        <tr>
            <th>Total Formal</th>
            <td>${{ venta.FormalTotalVenta | number_format(0,',','.')}}</td>
        </tr>
        <tr>
            <th>Total Informal</th>
            <td>${{ venta.InformalTotalVenta | number_format(0,',','.')}}</td>
        </tr>
        <tr>
            <th>Total I.V.A (f)</th>
            <td>${{ venta.TotalIvaVentaFormal | number_format(0,',','.')}}</td>
        </tr>
        <tr>
            <th>Detalle</th>
            <td>{{ venta.DetalleVenta }}</td>
        </tr>
    </tbody>
</table>
<br />
<p align="center">
        <a class="symfony-button-green"  href="{{ path('edit_venta', { 'id': venta.IdVenta }) }}">Modificar Venta</a>
        <a id="open_deletion" class="symfony-button-green"  href="#">Borrar</a>
        </p>
{% endblock %}
