{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block title %}Detalle Venta {% endblock %}

{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<table align="center">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ venta.IdVenta }}</td>
        </tr>
        <tr>
            <th>Fk_venta</th>
            <td>{{ venta.FkVenta }}</td>
        </tr>
        <tr>
            <th>Fecha_venta</th>
            <td>{{ venta.FechaVenta|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Tipo_venta</th>
            <td>{{ venta.TipoVenta }}</td>
        </tr>
        <tr>
            <th>Total_venta</th>
            <td>{{ venta.TotalVenta }}</td>
        </tr>
        <tr>
            <th>Total_venta_formal</th>
            <td>{{ venta.TotalVentaFormal }}</td>
        </tr>
        <tr>
            <th>Total_venta_informal</th>
            <td>{{ venta.TotalVentaInformal }}</td>
        </tr>
        <tr>
            <th>Total_iva_venta_formal</th>
            <td>{{ venta.TotalIvaVenta }}</td>
        </tr>
        <tr>
            <th>Detalle_venta</th>
            <td>{{ venta.DetalleVenta }}</td>
        </tr>
    </tbody>
</table>

   
    </li>
    <li>
        <form action="{{ path('delete_venta', { 'id': venta.IdVenta }) }}" method="post">
        <h1><center>Acciones</center></h1>
            {{ form_widget(delete_form) }}
        <p align="center">
        <a class="symfony-button-green"  href="{{ path('index_venta') }}">
            Ir al Listado de Ventas
        </a>
        <a class="symfony-button-green"  href="{{ path('edit_venta', { 'id': venta.IdVenta }) }}">
            Modificar
        </a>
            <button class="symfony-button-green"  type="submit">Borrar</button>
        </p>
        </form>
    </li>
</ul>

{% endblock %}
