<h1>Venta</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ venta.IdVenta }}</td>
        </tr>
        <tr>
            <th>Fk_venta</th>
            <td>{{ venta.FkVenta }}</td>
        </tr>
        <tr>
            <th>Fecha_venta</th>
            <td>{{ venta.FechaVenta|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Tipo_venta</th>
            <td>{{ venta.TipoVenta }}</td>
        </tr>
        <tr>
            <th>Total_venta</th>
            <td>{{ venta.TotalVenta }}</td>
        </tr>
        <tr>
            <th>Total_venta_formal</th>
            <td>{{ venta.TotalVentaFormal }}</td>
        </tr>
        <tr>
            <th>Total_venta_informal</th>
            <td>{{ venta.TotalVentaInformal }}</td>
        </tr>
        <tr>
            <th>Total_iva_venta_formal</th>
            <td>{{ venta.TotalIvaVenta }}</td>
        </tr>
        <tr>
            <th>Detalle_venta</th>
            <td>{{ venta.DetalleVenta }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('index_venta') }}">
            Volver al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('edit_venta', { 'id': venta.IdVenta }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('delete_venta', { 'id': venta.IdVenta }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
