{% extends 'CostoSystemBundle::layout.html.twig' %}
{% block content_header %}
        {% javascripts
            '@CostoSystemBundle/Resources/public/js/jquery-1.7.2.min.js'
            '@CostoSystemBundle/Resources/public/js/jquery-ui-1.8.21.custom.min.js'
            '@CostoSystemBundle/Resources/public/js/ui/i18n/jquery.ui.datepicker-es.js'
            '@CostoSystemBundle/Resources/public/js/jquery.redirect.min.js'
            '@CostoSystemBundle/Resources/public/js/details.js'
            '@CostoSystemBundle/Resources/public/js/jquery-te-1.3.5.min.js'
            '@CostoSystemBundle/Resources/public/js/jquery.snippet.min.js'
            '@CostoSystemBundle/Resources/public/js/jquery.modal.min.js'
            output='js/compiled/showupdate.js'
         %}
        <script type="text/javascript" src="{{ asset( asset_url) }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
        $('body').on('click', 'a.link_search_resumen', function(evt){
            evt.preventDefault();
        //Jquery -ui datepicker setaeado a spain lang y formateado se le asocia al id venta_fecha_venta
            $(function() {
                $.datepicker.setDefaults($.datepicker.regional[ "es" ]);
            // Datepicker
                $('.search_resumen').datepicker();
            });
            $('<span class="close_search ui-icon ui-icon-closethick" style="display:inline-block"></span>').insertAfter('.search_resumen');
            $('.search_resumen').show();
        });
    $('body').on('change', '.search_resumen', function(){
        if($(this).val() != ""){
           var p = $(this).val().split("/");      
           var r = "{{path('validate_date', {'day': "DAY", 'month': "MONTH", 'year':"0000"})}}";
           r = r.replace("DAY", p[0]); 
           r = r.replace("MONTH", p[1]); 
           r = r.replace("0000/", p[2]+"/");
        }
        $.ajax({
                    type: "GET",
                    url: r,
                    dataType: "json"
                }).done(function(data){
                    if (data.exists == 1){
                        $('.search_resumen').hide();
                        $('.close_search').hide();
                        var route = "{{path('show_venta', { 'id': "PLACEHOLDER" }) }}";
                        window.location.href= route.replace("PLACEHOLDER", data.id);
                        return true;
                    }
                    if(data.exists == 0){
                        $( "#crear_venta" ).dialog({
                            resizable: false,
                            height:240,
                            modal: true,
                            buttons: {
                                    "Crear Venta": function() {
                                    $().redirect('{{path('newp_venta')}}', {'fecha': $(this).data('fecha')});  
                                        $( this ).dialog( "close" );
                                        $('#fecha_a_crear').val("");
                                        return true;
                                    },
                                    "Cancelar": function() {
                                        $( this ).dialog( "close" );
                                        $('#fecha_a_crear').val("");

                                    }
                                }
                        });
                        $('#fecha_a_crear').val($('.search_venta').val());
                        $('.search_resumen').val("");
                        $('.search_resumen').hide();
                        $('.close_search').hide();
                        $('#crear_venta').data('fecha', $('#fecha_a_crear').val()).dialog('open');
                        return false;
                    }
                    
                });
    });
    $('body').on('click', '.close_search', function(){
        $('.search_resumen').hide();
        $(this).hide();
    });
        
        </script>
{% endblock %}
{% block title %}Resumen Ventas del día{% endblock %}
{% block content %}
<h1><center>{{ block('title') }}</center></h1>
<br />
<div align="center">
    <a class="ant" style="float: left;" href="#"><< día anterior</a>
    <a class="ui-button ui-widget ui-state-default ui-button-text-icon-secondary" href="{{ path('index_venta') }}">
            <span class="ui-button-text">Ir al Listado de Ventas</span>
            <span class="ui-button-icon-secondary ui-icon ui-icon-clipboard"></span>
    </a>
    <a class="link_search_resumen ui-button ui-widget ui-state-default ui-button-text-icon-secondary" href="#">
            <span class="ui-button-text">Buscar e Ir a Resumen del día</span>
            <span class="ui-button-icon-secondary ui-icon ui-icon-search"></span>
    </a>
    <div style="display:inline-block">
        <input class="search_resumen" type="text" style="display:none" />
    </div>
    <a class="sig" style="float: right;" href="#">día siguiente >></a>
</div>
<br />
<center>Totales Lugar de Venta</center>
<table>
    {%for key, arreglo in data %}
            {% if key == 'LugarVenta' %}
            <thead>
                <tr>
                    {%for lugar in arreglo %}
                        <th><center>{{lugar|title}}<center></th>
                    {% endfor %}
                </tr>
            </thead>
            {%endif%}
            {% if key != 'LugarVenta' and key != 'Totales'%}
                {%for forma in arreglo %}
                    {% if loop.first %}
                        <tr>    
                    {%endif%}
                                <td><b>$ {{forma|number_format('0',',','.')}}</b> <i style="float:right;">{{key|title}}</i></td>
                    {% if loop.last %}
                        <tr>    
                    {%endif%}
                {% endfor %}
            {%endif%}
            {% if key == 'Totales'%}
                {%for total in arreglo %}
                    {% if loop.first %}
                        <tr>    
                    {%endif%}
                                <td><b>$ {{total|number_format('0',',','.')}}</b></td>
                    {% if loop.last %}
                        <tr>    
                    {%endif%}
                {% endfor %}
            {%endif%}
            
    {% endfor %}
    <tr>    
        <td colspan="4"><b><center>Total Venta del Día Documentada</center></b></td>
        <td><b>$ {{totales|number_format('0',',','.')}}</b></td>
    </tr>
</table>
    <br />
<center>Totales Forma de Venta</center>
<table>
    <thead>
        <tr>
            <th><center>Forma de Venta</center></th>
            <th><center>Total Venta</center></th>
        </tr>
    </thead>
    {% for vf, ar in documents %}
        <tr>
            <td><b>{{vf}}</b></td>
            {% for totdoc in ar %}
            <td>$ {{totdoc|number_format('0',',','.')}}</td>
            {%endfor %}
        </tr>
    {%endfor %}
    <tr>
        <td><b><center>Totales Documentado</center></b></td>
        <td><b>$ {{totaldoc|number_format('0',',','.')}}</b></td>
    </tr>
    {% set differ = 0 %}
    {% for k, v in real %}
        <tr>
            <td><b>{{k}}</b></td>
            {% for r in v %}
                <td>$ {{r|number_format('0',',','.')}}</td>
                {% set differ = "#{differ + r}" %}
            {%endfor %}
        </tr>
    {%endfor %}
    {% set differ = "#{differ - totaldoc }" %}  
    <tr>    
        <td><b><center>Diferencia (Real - Totales Doc.)</center></b></td>
        <td><b>$ {{differ|number_format('0',',','.')}}</b></td>
    </tr> 
</table>
<br />
<center>Totales Forma de Pago</center>
<table>
    <thead>
        <tr>
    {%for pf in payforms %}
            <th><center>{{pf|title}}<center></th>
    {%endfor%}

        </tr>
    </thead>
    <tr>
    {%for tpf in total_payform %}
            <td><b><center>$ {{tpf|number_format('0',',','.')}}</center></b></td>
    {%endfor%}
    </tr>
    <tr>    
        <td colspan="3"><b><center>Total Venta del Día por formas de Pago Documentadas</center></b></td>
        <td><b><center>$ {{totales|number_format('0',',','.')}}</center></b></td>
    </tr>
</table>
<br />
<br />
<div align="center">
<a class="ant" style="float: left;" href="#"><< día anterior</a>
<a class="ui-button ui-widget ui-state-default ui-button-text-icon-secondary" href="{{ path('index_venta') }}">
            <span class="ui-button-text">Ir al Listado de Ventas</span>
            <span class="ui-button-icon-secondary ui-icon ui-icon-clipboard"></span>
        </a>
<a class="link_search_resumen ui-button ui-widget ui-state-default ui-button-text-icon-secondary" href="">
            <span class="ui-button-text">Buscar e Ir a Resumen del día</span>
            <span class="ui-button-icon-secondary ui-icon ui-icon-search"></span>
    </a>
<div style="display:inline-block">
        <input class="search_resumen" type="text" style="display:none" />
    </div>
<a class="sig" style="float: right;" href="#">día siguiente >></a>
</div>
<br />
<div id="crear_venta" title="Mensaje de Confirmación">
    <span>
        <p>No existe Venta para el día: <input id="fecha_a_crear" type="text"/><br />Si desea crear la Venta haga click en <b>"Crear Venta"</b>.
        <br />En caso contrario, haga click en <b>"Cancelar"</b> para continuar</p>
    </span>
</div>
{% endblock %}
