<table align="right">
    <thead>
        <tr>
            <th><h1><center>Total Año</center></h1></th>
            <th><h1><center>Importe</center></h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gastos</td>
            <td>{{gastoyear}}</td>
        </tr>
        <tr>
            <td>Ingresos</td>
            <td>{{ventayear}}</td>
        </tr>
        {% set saldo = "#{ventayear - gastoyear}" %}
        <tr>
            <td>Diferencia Anual (Ingresos - Gastos)</td>
            <td>{{ saldo }}</td>
        </tr>
    </tbody>
</table>
<table align="right">
    <thead>
        <tr>
            <th><h1><center>Fecha</center></h1></th>
            <th><h1><center>Ingreso</center></h1></th>
            <th><h1><center>Cantidad</center></h1></th>
        </tr>
    </thead>
    <tbody>
    {% for venta in ventas %}
        <tr>
            <td>{{ venta.FechaVenta|date('d/m/y') }}</td>
            <td>Venta Diaria del {{ venta.FechaVenta|date('d - m - Y') }}</td>
            <td>{{ venta.FormalTotalVenta }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h3>I.V.A ventas(19%): <bold>{{ ivaventa }}</bold></h3>