<table id="table_right" align="right">
    <thead>
        <tr>
            <th><h1><center>Item</center></h1></th>
            <th><h1><center>Formal</center></h1></th>
            <th><h1><center>I.V.A</center></h1></th>
            <th><h1><center>Informal</center></h1></th>
            <th><h1><center>Total</center></h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p align="center"><b>Gastos</b></p></td>
            <td>${{gyformal | number_format(0,',','.')}}</td>
            <td>${{giva | number_format(0,',','.')}}</td>
            <td>${{gyinformal | number_format(0,',','.')}}</td>
            {% set gtotal = "#{gyformal + gyinformal}" %}
            <td><b>${{gtotal | number_format(0,',','.')}}</b></td>
        </tr>
        <tr>
            <td><p align="center"><b>Ingresos</b></p></td>
            <td>${{vyformal | number_format(0,',','.')}}</td>
            <td>${{viva | number_format(0,',','.')}}</td>
            <td>${{vyinformal| number_format(0,',','.')}}</td>
            {% set vtotal = "#{vyformal + vyinformal}" %}
            <td><b>${{vtotal | number_format(0,',','.')}}</b></td>
        </tr>
        <tr>
            <td><p align="center"><b>Totales(*)</b></p></td>
            {% set ingreso = "#{vyformal - gyformal}" %}
            <td><b>${{ ingreso | number_format(0,',','.')}}</b></td>
            {% set ivapagar = "#{viva - giva}" %}
            <td><b>${{ ivapagar | number_format(0,',','.')}}</b></td>
            {% set informal = "#{vyinformal - gyinformal}" %}
            <td><b>${{ informal | number_format(0,',','.')}}</b></td>
            <td><b>${{ "#{vtotal - gtotal}" | number_format(0,',','.')}}</b></td>
        </tr>
    </tbody>
</table>
<center><h3>Resúmen de Ingresos (Ventas) y de Gastos Totales Existentes</h3></center>
<table align="right">
    <thead>
        <tr>
            <th><h1><center>Fecha</center></h1></th>
            <th><h1><center>Formal</center></h1></th>
            <th><h1><center>I.V.A</center></h1></th>
            <th><h1><center>Informal</center></h1></th>
            <th><h1><center>Total</center></h1></th>
        </tr>
    </thead>
    <tbody>
    {% set tf = 0 %}
    {% set iv = 0 %}
    {% set ti = 0 %}
    {% set t = 0 %}
    {% for venta in ventas %}
        <tr>
            <td><b>{{ venta.FechaVenta|date('d/m/y') }}</b></td>
            <td>${{ venta.FormalTotalVenta | number_format(0,',','.')}}</td>
            <td>${{ venta.TotalIvaVentaFormal | number_format(0,',','.')}}</td>
            <td>${{ venta.InformalTotalVenta | number_format(0,',','.')}}</td>
            <td><p align="center"><b>${{ venta.TotalVenta | number_format(0,',','.')}}</b></center></td>
        </tr>
        {% set tf = "#{tf + venta.FormalTotalVenta}" %}
        {% set iv = "#{iv + venta.TotalIvaVentaFormal}" %}
        {% set ti = "#{ti + venta.InformalTotalVenta}" %}
        {% set t = "#{t + venta.TotalVenta}" %}
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
        	<td><b>Total(**)</b></td>
        	<td><b>${{ tf | number_format(0,',','.')}}</b></td>
        	<td><b>${{ iv | number_format(0,',','.')}}</b></td>
        	<td><b>${{ ti | number_format(0,',','.')}}</b></td>
        	<td><center><b>${{ t | number_format(0,',','.')}}</b></center></td>
        </tr>
    </tfoot>
</table>
<center><h3>Detalle de los Ingresos (Ventas)<h3></center>